<header class="container-fluid bg-light py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <input type="text" class="form-control me-2" placeholder="Buscar...">
            <button class="btn btn-outline-secondary">🔍</button>
        </div>
        <img width="148" height="118" src="imagenes/logo.png" alt="Logo Fuun" class="img-fluid">
        <div>
            <a routerLink="/login" class="me-3">Iniciar Sesion</a>
            <a routerLink="/registro">Suscribirse</a>
        </div>
    </div>
</header>
