<div class="container" style="max-width: 400px; margin-top: 50px;">
    <!-- Imágen del logo -->
    <div class="text-center mt-3">
        <img width="148" height="118" src="imagenes/logo.png" alt="Logo Fuun" class="img-fluid">
    </div>
    
    <h3 class="text-center mb-4"><b>Alta de Usuario</b></h3>

    <!-- Formulario de registro -->
    <form (ngSubmit)="registrar()" #registerUserForm="ngForm">

        <!-- Nombre de usuario -->
        <div class="mb-3">
            <input type="text" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" class="form-control" placeholder="Introduzca su nombre" required>
        </div>
        
        <!-- Teléfono de usuario -->
        <div class="mb-3">
            <input type="text" id="telefonoUsuario" name="telefonoUsuario" [(ngModel)]="telefonoUsuario" class="form-control" placeholder="Introduzca su teléfono" required>
        </div>
    
        <!-- Correo -->
        <div class="mb-3">
            <input type="email" id="emailUsuario" name="emailUsuario" [(ngModel)]="emailUsuario" class="form-control" placeholder="Introduzca su email" required>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
            <input type="password" id="passwordUsuario" name="passwordUsuario" [(ngModel)]="passwordUsuario" class="form-control" placeholder="Introduce la contraseña" required>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="mb-3">
            <input type="password" id="confirmPasswordUsuario" name="confirmPasswordUsuario" [(ngModel)]="confirmPasswordUsuario" class="form-control" placeholder="Repetir contraseña" required>
        </div>

        <!-- Botón de registro -->
        <button type="submit" class="btn btn-dark w-100">Registrarse</button>
    </form>

    <!-- Mensaje de error o éxito -->
    <div class="text-center mt-3">
        <p class="text-danger">{{ mensaje }}</p>
    </div>

    <!-- Enlaces adicionales -->
    <div class="text-center mt-3">
        <p>¿Ya estás registrado? <a routerLink="/login">Iniciar Sesión</a></p>
        <p><a routerLink="/inicio">Volver al menú</a></p>
    </div>
</div>
