<div class="fondo">
    <div class="container" style="width: 400px; margin-top: 50px;">
        <!-- Imagen del logo -->
        <div class="text-center mt-3">
            <img width="148" height="118" src="imagenes/logo.png" alt="Logo Fuun" class="img-fluid">
        </div>
        
        <h3 class="text-center mb-4"><b>Iniciar Sesión Usuario</b></h3>

        <!-- Formulario de inicio de sesión -->
        <form id="loginUserForm" action="loginUsuario" method="post">
            <!-- Nombre de club o correo -->
            <div class="mb-3">
                <input type="text" id="email" name="email" class="form-control" placeholder="Introduzca su correo" required>
            </div>

            <!-- Contraseña -->
            <div class="mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="Introduce la contraseña" required>
            </div>

            <!-- Botón de iniciar sesión -->
            <button type="submit" class="btn btn-dark w-100">Iniciar Sesión</button>
        </form>

        <!-- Enlaces adicionales -->
        <div class="text-center mt-3">
            <p>¿No estás suscrito? <a routerLink="/registro">Suscríbete ya</a></p>
        </div>
        <div class="text-center mt-3">
            <p><a routerLink="/inicio">Volver al menú</a></p>
        </div>

        <!-- Contenedor para mostrar mensajes de resultado -->
        <div id="result" class="text-center mt-3 text-danger"></div>
    </div>
</div>
