<div class="container mt-5">
    <!-- Botones para Modificar y Eliminar Usuario -->
    <div class="d-flex justify-content-between">
      <button (click)="toggleModificar()" class="btn btn-outline-primary w-48">
        <i class="fas fa-edit"></i> Modificar Usuario
      </button>
      <button (click)="toggleEliminar()" class="btn btn-outline-danger w-48">
        <i class="fas fa-trash-alt"></i> Eliminar Usuario
      </button>
    </div>
  
    <!-- Contenido de "Modificar Usuario" que aparece al hacer clic -->
    <div *ngIf="isModificarVisible" class="mt-3">
      <app-modificar-usuario></app-modificar-usuario> <!-- Aquí añades el componente de modificar -->
    </div>
  
    <!-- Contenido de "Eliminar Usuario" que aparece al hacer clic -->
    <div *ngIf="isEliminarVisible" class="mt-3">
      <app-eliminar-usuario></app-eliminar-usuario> <!-- Aquí añades el componente de eliminar -->
    </div>
  </div>
  