/* Asegúrate de que los botones tengan un buen espaciado y tamaño */
.btn {
    width: 48%;
    margin: 0 10px 20px 0;
  }
  
  /* Espaciado extra en el contenido que aparece después de pulsar un botón */
  .mt-3 {
    margin-top: 20px;
  }
  
  /* Asegúrate de que los iconos y botones tengan un tamaño adecuado */
  .fas {
    margin-right: 8px;
  }
  